<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm bài viết mới</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function(){
            $("#datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
</head>
<body>
<h1>Thêm bài viết mới</h1>
<p>
    <a href="/baiviets">Danh sách bài viết</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-baiviet}" th:object="${baiviet}" method="post">
    <table>
        <tr>
            <td>Tên:</td>
            <td><input type="text" th:field="*{ten}"/></td>
            <td th:if="${#fields.hasErrors('ten')}" th:errors="*{ten}">Name Error</td>
        </tr>
        <tr>
            <td>Ngày sinh:</td>
            <td><input type="text" id="datepicker" th:field="*{ngaysinh}"/></td>
            <td th:if="${#fields.hasErrors('ngaysinh')}" th:errors="*{ngaysinh}">Name Error</td>
        </tr>

        <tr>
            <td>Tỉnh/Thành phố:</td>
            <td>
                <select th:field="*{tinh}">
                    <option th:each="p : ${tinhs}" th:value="${p.id}" th:text="${p.tenTinh}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Thêm"></td>
        </tr>
    </table>
</form>
</body>
</html>