<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <td>Tên sp</td>
        <td>Mã sp</td>
        <td>Giá sp</td>
        <td>Hình ảnh sp</td>
    </tr>
    <tr th:each="pro:${products}">
        <td>
            <a th:href="@{/product/__${pro.id}__}">
                <p th:text="${pro.name}"></p>
            </a>

        </td>
        <td th:text="${pro.code}"></td>
        <td th:text="${pro.price}"></td>
        <td><img  th:src="${pro.pic}" th:width="100" th:height="100"></td>
    </tr>
</table>
</body>
</html>