<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm loại dịch vụ</title>
</head>
<body>
<h1>Thêm loại dịch vụ</h1>
<p>
    <a href="/services">Danh sách dịch vụ</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-typeservice}" th:object="${typeservices}" method="post">
    <table>
        <tr>
            <td>Tên loại dịch vụ:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Thêm"></td>
        </tr>
    </table>
</form>
</body>
</html>