<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cập nhật thông tin dịch vụ</title>
</head>
<body>
<h1>Cập nhật thông tin dịch vụ</h1>
<p>
    <a href="/services">Danh sách dịch vụ</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-service}" th:object="${service}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Tên dịch vụ:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Diện tích:</td>
            <td><input type="text" id="datepicker" th:field="*{area}"/></td>
        </tr>
        <tr>
            <td>Số tầng:</td>
            <td><input type="text" th:field="*{numberFloor}"/></td>
        </tr>
        <tr>
            <td>Số người tối đa:</td>
            <td><input type="text" th:field="*{maxpeople}"/></td>
        </tr>
        <tr>
            <td>Chi phí thuê:</td>
            <td><input type="text" th:field="*{rentCost}"/></td>
        </tr>
        <tr>
            <td>Trạng thái:</td>
            <td><input type="text" th:field="*{status}"/></td>
        </tr>
        <tr>
            <td>Loại dịch vụ:</td>
            <td>
                <select th:field="*{typeService}">
                    <option th:each="p : ${typeservices}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Kiểu thuê:</td>
            <td>
                <select th:field="*{typeRent}">
                    <option th:each="p : ${typerents}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Chập nhật"></td>
        </tr>
    </table>
</form>
</body>
</html>