<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm nhân viên mới</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function(){
            $("#datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
</head>
<body>
<h1>Thêm nhân viên mới</h1>
<p>
    <a href="/customers">Danh sách nhân viên</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-employee}" th:object="${employees}" method="post">
    <table>
        <tr>
            <td>Tên nhân viên:</td>
            <td><input type="text" th:field="*{name}"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Ngày sinh:</td>
            <td><input type="text" id="datepicker" th:field="*{birthday}"/></td>
            <td th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">Name Error</td>
        </tr>
        <tr>
            <td>CMND:</td>
            <td><input type="text" th:field="*{idCard}"/></td>
            <td th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}">Name Error</td>
        </tr>
        <tr>
            <td>SĐT:</td>
            <td><input type="text" th:field="*{phone}"/></td>
            <td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Name Error</td>
        </tr>
        <tr>
            <td>Lương:</td>
            <td><input type="text" th:field="*{salary}"/></td>
            <td th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Name Error</td>
        </tr>
        <tr>
            <td>Địa chỉ:</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}"/></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</td>
        </tr>
        <tr>
            <td>Trình độ học vấn:</td>
            <td>
                <select th:field="*{academicLevel}">
                    <option th:each="p : ${levels}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Vị trí:</td>
            <td>
                <select th:field="*{position}">
                    <option th:each="p : ${positions}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Bộ phận:</td>
            <td>
                <select th:field="*{part}">
                    <option th:each="p : ${parts}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Thêm"></td>
        </tr>
    </table>
</form>
</body>
</html>